[tool.pyright]

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "PyFlyt"
version = "0.2.17"
authors = [
  { name="Jet", email="taijunjet@hotmail.com" },
]
description = "Freestyle Quadcopter Flight in Pybullet with Gym and (soon) PettingZoo APIs"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = ["wheel", "matplotlib", "gymnasium", "numpy", "pybullet", "cflib", "cfclient", "scipy"]
keywords = ["Reinforcement Learning", "UAVs", "drones", "Quadcopter", "AI", "Gym", "PettingZoo"]
license = { file="./LICENSE.txt" }

[project.urls]
"Homepage" = "https://github.com/jjshoots/Wingman"

[tool.setuptools.package-data]
pyflyt = ["*.dae", "*.urdf", "*.yaml"]

[tool.setuptools]
py-modules = []
