[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "PyFlyt"
version = "0.6.2"
authors = [
  { name="Jet", email="taijunjet@hotmail.com" },
]
description = "UAV Flight Simulator Gymnasium Environments for Reinforcement Learning Research."
readme = "readme.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = ["matplotlib", "gymnasium", "numpy", "pybullet"]
keywords = ["Reinforcement Learning", "UAVs", "drones", "Quadcopter", "AI", "Gym", "PettingZoo"]
license = { file="./LICENSE.txt" }

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
include = ["PyFlyt", "PyFlyt.*"]

[project.urls]
Repository = "https://github.com/jjshoots/PyFlyt"
"Bug Report" = "https://github.com/jjshoots/PyFlyt/issues"

#######################################################################################
# linters
#######################################################################################
[tool.pyright]
reportMissingImports = "none"
