<?xml version="1.0"?>
<robot name="cylinder_obstacle">
  <link name="base_link">

    <collision>
      <geometry>
        <cylinder radius="0.5" length="2.0"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>

    <visual>
      <geometry>
        <cylinder radius="0.5" length="2.0"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>

  </link>
</robot>
